<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>Адрес</th>
          <th>Телефон</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render 'show_provider' %>
      </tbody>
    </table>
  </div>
</div>
