<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <table class="table">
      <thead>
        <tr>
          <th>Адрес</th>
          <th>Телефон</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render partial: 'provider', collection: @providers %>
      </tbody>
    </table>
  </div>
</div>
