<%= link_to "Додати постачальника", new_provider_path, class: "btn btn-success" %>
<h1 align="center">Постачальники</h1></div
<% if flash[:error].present? %>
  <%= render partial: 'shared/errors', locals: { errors: flash } %>
<% end %>
<%= render 'table' %>
