<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Постачальник</th>
          <th>Назва товару</th>
          <th>Ціна закупки</th>
          <th>Кількість</th>
          <th>Дата поставки</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render 'show_deliver' %>
      </tbody>
    </table>
  </div>
</div>
