<tr>
  <td><%= @category[:name] %></td>
  <td><%= link_to 'Edit', edit_category_path(@category[:id]) %></td>
  <td><%= link_to 'Destroy',  { action: :destroy, id: @category[:id] }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
