<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <table class="table">
      <thead>
        <tr>
          <th>Назва</th>
          <tr></tr>
          <tr></tr>
        </tr>
      </thead>
      <tbody>
      <%= render 'show_category' %>
      </tbody>
    </table>
  </div>
</div>
