<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Назва</th>
          <th>Категорія</th>
          <th>Дата виготовлення</th>
          <th>Термін придатності</th>
          <th>Ціна</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render 'show_product' %>
      </tbody>
    </table>
  </div>
</div>
