<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Назва</th>
          <th>Категорія</th>
          <th>Дата виготовлення</th>
          <th>Термін придатності</th>
          <th>
            <%= link_to 'Ціна', products_path(sort: sort_direction) %>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render partial: 'product', collection: @products %>
      </tbody>
    </table>
  </div>
</div>
