<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <table class="table">
      <thead>
        <tr>
          <th>Назва</th>
          <th>Категорія</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render partial: 'product', collection: @products %>
      </tbody>
    </table>
  </div>
</div>
