<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <table class="table">
      <thead>
        <tr>
          <th>Назва товару</th>
          <th>Кількість</th>
          <tr></tr>
        </tr>
      </thead>
      <tbody>
      <%= render 'show_availability' %>
      </tbody>
    </table>
  </div>
</div>
